body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}

/*  */
.main-container-section {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
}
/* Main content section */
.main-content-section {
  background-color: #ffffff;
  padding: 100px 90px;
  border-radius: 0 10px 10px 0;
}
/*  */
.about-me-section {
  margin: 0 0 40px 0;
}
.about-me-profession {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 20px 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}
.about-me-description {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 400px;
}
/*  */
.main-content-title {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin: 0 0 10px 0;
}

.my-project-section {
  background-color: #ffffff;
  margin-bottom: 50px;
}
.my-projects-list {
  padding: 0 0 0 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.my-projects-item {
  color: #000;
}
.my-projects-text {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 7px;
}
.my-projects-link {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
/*  */

.my-work-experience-section {
  background-color: #ffffff;
}
/* для каждой компании свой цвет, под их логотип */
.darnitsa {
  color: rgb(69, 216, 113);
}
.reckit {
  color: rgb(206, 22, 151);
}
.gsk {
  color: rgb(223, 141, 35);
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-work-experience-time {
  color: #888585;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 10px 0;
}
.my-work-experience-divider {
  color: #000;
}
.my-work-experience-duties {
  padding: 0 0 0 18px;
}
.my-work-experience-duty {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.my-work-experience-duty-test {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 50px 0;
}
.my-work-experience-company {
  margin: 0 15px 0 0;
}
.my-education-university {
  color: #ac755b;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-education-faculty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

/* Sidebar section */
.sidebar-section {
  background-color: #ac755b;
  width: 370px;
  padding: 40px 0px;
  border-radius: 10px 0 0 10px;
}
.contact-section,
.tech-skills-section,
.soft-skill-section {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}
.contact-section-type {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 0 7px 0 2px;
}
.contact-section-link {
  color: #4b2f25;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}
/* Tech and soft skills */
.skills-list {
  padding: 0 0 0 20px;
}
.skills-item {
  color: #633d30;
}
.skills-list-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
